# Database Configuration
DB_USER=treinawebusr
DB_PASSWORD=treinawebpwd
DB_DATABASE=treinaweb
DB_PORT=3306
DB_ROOT_PASSWORD_FILE_PATH=./db/pwd.txt

# Application Configuration
APP_PORT=8080
SPRING_PROFILES_ACTIVE=docker

# Spring Boot Admin Client/Server Credentials
SPRING_BOOT_ADMIN_USERNAME=admin
SPRING_BOOT_ADMIN_PASSWORD=admin

# phpMyAdmin Configuration
PMA_PORT=9090

# RSA Keys configuration (can point to absolute file path, e.g., file:/path/to/private-key.pem)
RSA_PRIVATE_KEY_PATH=classpath:certs/private-key.pem
RSA_PUBLIC_KEY_PATH=classpath:certs/public-key.pem
